{% extends "enupal-stripe/_layouts/coupons" %}
{% set title = "Coupons"|t('enupal-stripe') %}
{% set coupons = craft.enupalStripe.getAllCoupons() %}
{% set testMode = craft.enupalStripe.getMode() %}
{% set url = "https://dashboard.stripe.com" %}
{% set url = testMode ? url~'/test' : url %}

{% block actionButton %}
    {% if testMode %}
        <span class="testMode">Test Mode</span>
        <div class="flex-grow"></div>
    {% endif %}

    {% include "enupal-stripe/coupons/_actionStatusButton" %}
{% endblock %}

{% set content %}
    {% if coupons['data']|length %}
        <table id="coupons" class="data fullwidth collapsible">
            <thead>
            <tr>
                <th scope="col">{{ "Name"|t('enupal-stripe') }}</th>
                <th scope="col">{{ "ID"|t('enupal-stripe') }}</th>
                <th scope="col">{{ "Percent off/Amount"|t('enupal-stripe') }}</th>
                <th scope="col">{{ "Times Redeemed"|t('enupal-stripe') }} <br>(subscriptions)</th>
                <th scope="col">{{ "Times Redeemed"|t('enupal-stripe') }} <br>(one-time)</th>
                <th scope="col">{{ "Max Redemptions"|t('enupal-stripe') }} <span class="info">{{ "Maximum number of times this coupon can be redeemed"|t('enupal-stripe') }}</span></th>
                <th scope="col">{{ "Redeem By"|t('enupal-stripe') }} <span class="info">{{ "Date after which the coupon can no longer be redeemed."|t('enupal-stripe') }}</span></th>

                <td class="thin"></td>
            </tr>
            </thead>
            <tbody>
            {% for coupon in coupons %}
                <tr data-id="{{ coupon.id }}"
                    data-name="{{ coupon.name }}">
                    <th scope="row" data-title="{{ coupon.name }}"><a
                                href="{{ url~'/coupons/' ~ coupon.id }}">{{ coupon.name }}</a>
                    </th>
                    <td data-title="{{ coupon.id }}"
                        class="code">{{ coupon.id }}</td>
                    <td>
                        {% if coupon.amount_off %}
                            {% set finalAmount = craft.enupalStripe.convertFromCents(coupon.amount_off, coupon.currency) %}
                            {{ finalAmount|currency(coupon.currency) }}
                        {% else %}
                            {{ coupon.percent_off }} %
                        {% endif %}
                    </td>
                    <td>
                        {{ coupon.times_redeemed }}
                    </td>
                    <td>
                        {{ coupon.one_time_redeemed }}
                    </td>
                    <td>
                        {% if coupon.max_redemptions is null %}
                            ∞
                        {% else %}
                            {{ coupon.max_redemptions }}
                        {% endif %}
                    </td>
                    <td>
                        {% if coupon.redeem_by is null %}
                            ∞
                        {% else %}
                            {{ coupon.redeem_by|date('short') }}
                        {% endif %}
                    </td>
                    <td>
                    <td class="thin">
                        <a class="delete icon"
                           title="{{ 'Delete'|t('enupal-stripe') }}"
                           role="button"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ "Create your first coupon" }} <a href="{{ url }}/coupons">Here!</a>
    {% endif %}

{% endset %}

{% js %}
    new Craft.AdminTable({
    tableSelector: '#coupons',
    newObjectBtnSelector: '#newcoupon',
    deleteAction: 'enupal-stripe/coupons/delete',
    minObjects: 0,
    sortable: true,
    reorderAction: 'enupal-stripe/order-statuses/reorder',
    reorderSuccessMessage: Craft.t('Order statuses reordered.'),
    reorderFailMessage:    Craft.t("Couldn’t reorder statuses.."),
    confirmDeleteMessage: '{{ "Are you sure you want to delete the Coupon “{name}”?"|t('enupal-stripe') }}',
    deleteFailMessage: '{{ "Unable to delete the coupon."|t('enupal-stripe') }}'
    });
{% endjs %}

{% css %}
    .testMode {
    float: left;
    background-color: #f7e633;
    color: #363636;
    border-radius: 5px;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    padding-left: 9px;
    padding-right: 9px;
    height: 26px;
    line-height: 26px;
    }
{% endcss %}

