{#
/**
 * Stripe Payments plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2018 Enupal LLC
 */
#}

{% extends "enupal-stripe/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set settings = settings is defined ? settings : craft.enupalStripe.getSettings()  %}
{% set fullPageForm = true %}
{% set saveShortcutRedirect = 'enupal-stripe/settings/cart' %}
{% set currencyOptions = craft.enupalStripe.getCurrencyOptions() %}

{% set savePaymentForm %}
    <div class="buttons">
        <input class="btn submit" type="submit" value="{{ 'Save'|t }}">
    </div>
{% endset %}

{% set content %}
    <input type="hidden" name="action"
           value="enupal-stripe/settings/save-settings">
    <input type="hidden" name="stripeScenario" value="cart">

    <div id="settings-cp">

        {% namespace 'settings' %}
            {{ forms.field({
                label: "Cart Settings"|t('enupal-stripe'),
                instructions: "Cart API settings. All these settings can be overriden via the CheckoutEvent event"|t('enupal-stripe'),
            }, null) }}
            <hr>

            {% set checkoutPaymentMethods = craft.enupalStripe.getCheckoutPaymentMethods() %}
            {% set checkoutPaymentTypeInput %}
                <div class="flex">
                    <div class="nowrapper">
                        {{ forms.checkboxGroup({
                            name: "cartPaymentMethods",
                            options : checkoutPaymentMethods,
                            values: settings.getCartPaymentMethods()
                        }) }}
                    </div>
                </div>
            {% endset %}

            {{ forms.field({
                id: 'cartPaymentMethods',
                label: "Payment Method(s) <span class='info'>Remember to set the proper currency on your price products, e.g iDEAL only accepts EUR</span>"|t('enupal-stripe'),
                errors: settings.getErrors('cartPaymentMethods'),
                required: true
            }, checkoutPaymentTypeInput) }}
            <hr>
            {{ forms.textField({
                label: "Success Return URL"|t('enupal-stripe'),
                instructions: "Redirect buyers' to this URL after they complete their payments."|t('enupal-stripe'),
                id: 'cartSuccessUrl',
                name: 'cartSuccessUrl',
                placeholder: '/thank-you?number={number}',
                value: settings.cartSuccessUrl,
                errors: settings.getErrors('cartSuccessUrl')
            }) }}
            <hr>

            {{ forms.textField({
                label: "Cancel URL"|t('enupal-stripe'),
                instructions: "Redirect buyers' to this URL after they cancel/return from the Stripe Checkout page."|t('enupal-stripe'),
                id: 'cartCancelUrl',
                name: 'cartCancelUrl',
                placeholder: '/checkout',
                value: settings.cartCancelUrl,
                errors: settings.getErrors('cartCancelUrl')
            }) }}
            <hr>

            {% set languageOptions = craft.enupalStripe.getLanguageOptions() %}
            {{ forms.selectField({
                label: "Checkout Language or Locale"|t('enupal-stripe'),
                id: 'cartLanguage',
                name: 'cartLanguage',
                options: languageOptions,
                value: settings.cartLanguage,
                errors: settings.getErrors('cartLanguage'),
            }) }}
            <hr>
            {% set cartShippingRates = craft.enupalStripe.shipping.getShippingRatesAsOptions() %}
            {% set testMode = craft.enupalStripe.getMode() %}
            {% set url = "https://dashboard.stripe.com" %}
            {% set url = testMode ? url~'/test' : url %}
            {% set shippingUrl = url ~ "/shipping-rates" %}

            {% if cartShippingRates|length > 0 %}
                {{ forms.multiSelectField({
                    label: "Shipping Options (Only for one-time payments)"|t('enupal-stripe'),
                    instructions: 'Enables buyers choose a shipping option on the checkout page. <a href="https://stripe.com/docs/payments/checkout/shipping">More info</a>',
                    id: 'cartShippingRates',
                    name: 'cartShippingRates',
                    options: cartShippingRates,
                    values: settings.cartShippingRates
                }) }}
            {% else %}
                {{ forms.field({
                    label: "Shipping Options (Only for one-time payments)"|t('enupal-stripe'),
                    instructions: 'Enables buyers choose a shipping option on the checkout page. <a href="https://stripe.com/docs/payments/checkout/shipping">More info</a>',
                }, null) }}

                {{ "Create your first shipping rate, then refresh this page" }} <a href="{{ shippingUrl }}">Here!</a>
            {% endif %}
            <hr>
            {{ forms.lightswitchField({
                label: 'Shipping Address'|t('enupal-stripe'),
                instructions: 'Enables buyers to specify the Shipping Address',
                id: 'cartEnableShippingAddress',
                name: 'cartEnableShippingAddress',
                on: settings.cartEnableShippingAddress,
                onLabel: "On"|t('enupal-stripe'),
                offLabel: "Off"|t('enupal-stripe'),
                errors: settings.getErrors('cartEnableShippingAddress'),
            }) }}

            <hr>

            {{ forms.lightswitchField({
                label: 'Billing Address'|t('enupal-stripe'),
                instructions: 'Enables buyers to specify the Billing Address',
                id: 'cartEnableBillingAddress',
                name: 'cartEnableBillingAddress',
                on: settings.cartEnableBillingAddress,
                onLabel: "On"|t('enupal-stripe'),
                offLabel: "Off"|t('enupal-stripe'),
                errors: settings.getErrors('cartEnableBillingAddress'),
            }) }}

            <hr>

            {{ forms.lightswitchField({
                label: 'Automatic Tax'|t('enupal-stripe'),
                instructions: 'Checkout uses the shipping address entered during the session to determine the customer’s location for calculating tax. If you don’t collect shipping information, Checkout uses the billing address. Make sure to read the <a href="https://stripe.com/docs/tax/set-up">Docs</a></span> and properly add tax_behavior when creating your products on Stripe',
                id: 'cartAutomaticTax',
                name: 'cartAutomaticTax',
                on: settings.cartAutomaticTax,
                onLabel: "On"|t('enupal-stripe'),
                offLabel: "Off"|t('enupal-stripe'),
                errors: settings.getErrors('cartAutomaticTax'),
            }) }}

            <hr>
            {{ forms.lightswitchField({
                label: 'Promotion Codes'|t('enupal-stripe'),
                instructions: 'Enables buyers to specify promotional codes or Coupons',
                id: 'cartAllowPromotionCodes',
                name: 'cartAllowPromotionCodes',
                on: settings.cartAllowPromotionCodes,
                onLabel: "On"|t('enupal-stripe'),
                offLabel: "Off"|t('enupal-stripe'),
                errors: settings.getErrors('cartAllowPromotionCodes'),
            }) }}

        {% endnamespace %}

    </div>

{% endset %}