{#
/**
 * Stripe Payments plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2018 Enupal LLC
 */
#}

{% extends "enupal-stripe/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set settings = settings is defined ? settings : craft.enupalStripe.getSettings()  %}
{% set fullPageForm = true %}
{% set saveShortcutRedirect = 'enupal-stripe/settings/default' %}
{% set currencyOptions = craft.enupalStripe.getCurrencyOptions() %}

{% set savePaymentForm %}
    <div class="buttons">
        <input class="btn submit" type="submit" value="{{ 'Save'|t }}">
    </div>
{% endset %}

{% set content %}

    <input type="hidden" name="action"
           value="enupal-stripe/settings/save-settings">

    <div id="settings-cp">

        {% namespace 'settings' %}
            {{ forms.field({
                label: "Default values"|t('enupal-stripe'),
                instructions: "These are the default settings when create a new Payment Form and you can override it as per-form basis."|t('enupal-stripe'),
            }, null) }}
            <hr>
            {{ forms.textField({
                label: "Global Return URL"|t('enupal-stripe'),
                instructions: "Redirect buyers' to this URL after they complete their payments"|t('enupal-stripe'),
                id: 'returnUrl',
                name: 'returnUrl',
                placeholder: '/thank-you',
                value: settings.returnUrl,
                autofocus: true,
                errors: settings.getErrors('returnUrl')
            }) }}
            <hr>

            {{ forms.selectField({
                id: 'defaultCurrency',
                label: "Global Currency"|t('enupal-stripe'),
                instructions: 'The currency of the payment'|t('enupal-stripe'),
                name: 'defaultCurrency',
                options: currencyOptions,
                value: settings.defaultCurrency
            }) }}

            <hr>

            {{ forms.lightswitchField({
                label: 'Email address of the logged in user'|t('enupal-stripe'),
                instructions: 'Get the email of the current user logged in. This disallow the user edit the email in the Stripe Checkout Form',
                id: 'currentUserEmail',
                name: 'currentUserEmail',
                on: settings.currentUserEmail,
                onLabel: "On"|t('enupal-stripe'),
                offLabel: "Off"|t('enupal-stripe'),
                errors: settings.getErrors('currentUserEmail'),
            }) }}

            <hr>

            {{ forms.lightswitchField({
                label: 'Retrieve plans with a nickname'|t('enupal-stripe'),
                instructions: 'If enabled Stripe Payments will retrieve just plans that have the nickname set',
                id: 'plansWithNickname',
                name: 'plansWithNickname',
                on: settings.plansWithNickname,
                onLabel: "On"|t('enupal-stripe'),
                offLabel: "Off"|t('enupal-stripe'),
                errors: settings.getErrors('plansWithNickname'),
            }) }}

            <hr>

            {{ forms.lightswitchField({
                label: 'Load Jquery'|t('enupal-stripe'),
                instructions: 'If disabled it will prevent load Jquery. Please make sure Jquery is loaded in your site.',
                id: 'loadJquery',
                name: 'loadJquery',
                on: settings.loadJquery,
                onLabel: "On"|t('enupal-stripe'),
                offLabel: "Off"|t('enupal-stripe'),
                errors: settings.getErrors('loadJquery'),
            }) }}
        {% endnamespace %}

    </div>

{% endset %}