{#
/**
 * Stripe Payments plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2018 Enupal LLC
 */
#}

{% extends "enupal-stripe/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set settings = settings is defined ? settings : craft.enupalStripe.getSettings() %}
{% set configSettings = craft.enupalStripe.configSettings() %}
{% set fullPageForm = true %}
{% set saveShortcutRedirect = 'enupal-stripe/settings/general' %}

{% set savePaymentForm %}
    <div class="buttons">
        <input class="btn submit" type="submit" value="{{ 'Save'|t }}">
    </div>
{% endset %}

{% set content %}
    <input type="hidden" name="action"
           value="enupal-stripe/settings/save-settings">
    <input type="hidden" name="stripeScenario" value="general">

    <div id="settings-cp">

        {% namespace 'settings' %}
            {{ forms.field({
                label: "General settings"|t('enupal-stripe')|upper,
                instructions : 'Retrieve your Stripe <a href="https://enupal.com/craft-plugins/stripe-payments/docs/getting-started/saving-your-stripe-api-keys">API keys.</a>'
            }, null) }}
            <hr>
            {% set mode = settings.testMode ? 'test' : 'live' %}

            {{ forms.lightswitchField({
                label: 'Test Mode'|t('enupal-stripe'),
                instructions: 'Make sure that <span class="code">'~mode~'</span> mode is enabled in your Stripe dashboard to view your '~mode~' transactions.',
                id: 'testMode',
                name: 'testMode',
                on: settings.testMode,
                onLabel: "On"|t('enupal-stripe'),
                offLabel: "Off"|t('enupal-stripe'),
                errors: settings.getErrors('testMode'),
                disabled: configSettings.testMode is defined
            }) }}

            <hr>
            {{ forms.lightswitchField({
                label: 'Authorize and Capture Immediately'|t('enupal-stripe'),
                instructions: 'If disabled, uncaptured payments expire exactly seven days after they are created. If they are not captured by that point in time, they will be marked as refunded and will no longer be capturable.',
                id: 'capture',
                name: 'capture',
                on: settings.capture,
                onLabel: "On"|t('enupal-stripe'),
                offLabel: "Off"|t('enupal-stripe'),
                errors: settings.getErrors('capture')
            }) }}
            <hr>
            {{ forms.lightswitchField({
                label: 'Use Strong Customer Authentication (SCA) <span class="info"><a href="https://stripe.com/docs/strong-customer-authentication">New rule</a> coming into effect on September 14, 2019 as part of PSD2 regulation in Europe, will require changes to how your European customers authenticate online payments. Card payments will require a different user experience, namely 3D Secure, in order to meet SCA requirements. Transactions that don’t follow the new authentication guidelines may be declined by your customers’ banks.</span>'|t('enupal-stripe'),
                instructions: 'If enabled, Stripe Payments will use the new <a href="https://stripe.com/docs/payments/checkout">Stripe Checkout</a> and the <a href="https://stripe.com/docs/payments/payment-intents">Payment Intents API</a>',
                id: 'useSca',
                name: 'useSca',
                on: settings.useSca,
                onLabel: "On"|t('enupal-stripe'),
                offLabel: "Off"|t('enupal-stripe'),
                errors: settings.getErrors('useSca')
            }) }}
            <hr>
            <div id="testKeys" class="{% if not settings.testMode %} hidden {% endif %}">
                {% if not configSettings.testPublishableKey is defined %}
                    {{ forms.textField({
                        label: "Test Publishable Key"|t('enupal-stripe'),
                        instructions: "This key starts with <strong>pk_test</strong>"|t('enupal-stripe'),
                        id: 'testPublishableKey',
                        name: 'testPublishableKey',
                        value: settings.testPublishableKey,
                        autofocus: true,
                        errors: settings.getErrors('testPublishableKey')
                    }) }}
                {% else %}
                    <div class="instructions"><p><b>Test Publishable Key</b> was successfully loaded from config file</p></div>
                {% endif %}

                {% if not configSettings.testPublishableKey is defined %}
                    {{ forms.passwordField({
                        label: "Test Secret Key"|t('enupal-stripe'),
                        instructions: "This key starts with <strong>sk_test</strong>"|t('enupal-stripe'),
                        id: 'testSecretKey',
                        name: 'testSecretKey',
                        value: settings.testSecretKey,
                        autofocus: true,
                        errors: settings.getErrors('testSecretKey')
                    }) }}
                {% else %}
                    <div class="instructions"><p><b>Test Secret Key</b> was successfully loaded from config file</p></div>
                {% endif %}

                {% if settings.enableConnect %}
                    {% if not configSettings.testClientId is defined %}
                        {{ forms.passwordField({
                            label: "Test Client Id"|t('enupal-stripe'),
                            instructions: "This key starts with <strong>ca_</strong>"|t('enupal-stripe'),
                            id: 'testClientId',
                            name: 'testClientId',
                            value: settings.testClientId,
                            autofocus: true,
                            errors: settings.getErrors('testClientId')
                        }) }}
                    {% else %}
                        <div class="instructions"><p><b>Test Client Id</b> was successfully loaded from config file</p></div>
                    {% endif %}
                    <h4>Please add the following Redirect URL when retrieving the Client Id key under the <a
                                href="https://dashboard.stripe.com/test/settings/applications" target="_blank">connect settings</a> </h4>
                    <input type="text" class="text ltr fullwidth" readonly value="{{ craft.enupalStripe.callbackUrl() }}">
                {% endif %}
            </div>
            <div id="liveKeys" class="{%  if settings.testMode %} hidden {% endif %}">
                {% if not configSettings.livePublishableKey is defined %}
                    {{ forms.textField({
                        label: "Live Publishable Key"|t('enupal-stripe'),
                        instructions: "This key starts with <strong>pk_live</strong>"|t('enupal-stripe'),
                        id: 'livePublishableKey',
                        name: 'livePublishableKey',
                        value: settings.livePublishableKey,
                        autofocus: true,
                        errors: settings.getErrors('livePublishableKey')
                    }) }}
                {% else %}
                    <div class="instructions"><p><b>Live Publishable Key</b> was successfully loaded from config file</p></div>
                {% endif %}
                {% if not configSettings.liveSecretKey is defined %}
                    {{ forms.passwordField({
                        label: "Live Secret Key"|t('enupal-stripe'),
                        instructions: "This key starts with <strong>sk_live</strong>"|t('enupal-stripe'),
                        id: 'liveSecretKey',
                        name: 'liveSecretKey',
                        value: settings.liveSecretKey,
                        autofocus: true,
                        errors: settings.getErrors('liveSecretKey')
                    }) }}
                {% else %}
                    <div class="instructions"><p><b>Live Secret Key</b> was successfully loaded from config file</p></div>
                {% endif %}
                {% if settings.enableConnect %}
                    {% if not configSettings.liveClientId is defined %}
                        {{ forms.passwordField({
                            label: "Client Id"|t('enupal-stripe'),
                            instructions: "This key starts with <strong>ca_</strong>"|t('enupal-stripe'),
                            id: 'liveClientId',
                            name: 'liveClientId',
                            value: settings.liveClientId,
                            autofocus: true,
                            errors: settings.getErrors('liveClientId')
                        }) }}
                    {% else %}
                        <div class="instructions"><p><b>Live Client Id</b> was successfully loaded from config file</p></div>
                    {% endif %}

                    <h4>Please add the following Redirect URL when retrieving the Client Id key under the <a
                                href="https://dashboard.stripe.com/settings/applications" target="_blank">connect settings</a> </h4>
                    <input type="text" class="text ltr fullwidth" readonly value="{{ craft.enupalStripe.callbackUrl() }}">
                {% endif %}
            </div>

        {% endnamespace %}

    </div>

{% endset %}

{% do view.registerAssetBundle("enupal\\stripe\\web\\assets\\SettingsAsset") %}

{% js %}
    $(document).ready(function() {
        new EnupalStripeSettings();
    });
{% endjs %}