{#
/**
 * EnupalStripe plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2018 Enupal
 */
#}

{% extends "enupal-stripe/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set settings = craft.stripeButton.getSettings() %}
{% set fullPageForm = true %}
{% set saveShortcutRedirect = 'enupal-stripe/settings/general' %}

{% set saveButton %}
    <div class="buttons">
        <input class="btn submit" type="submit" value="{{ 'Save'|t }}">
    </div>
{% endset %}

{% set content %}

    <input type="hidden" name="action"
           value="enupal-stripe/settings/save-settings">
    <input type="hidden" name="stripeScenario" value="general">

    <div id="settings-cp">

        {% namespace 'settings' %}
            {{ forms.field({
                label: "General settings"|t('enupal-stripe')|upper,
                instructions : 'Retrieve your Stripe <a href="https://dashboard.stripe.com/account/apikeys">API test and live keys.</a>'
            }, null) }}
            <hr>

            {{ forms.lightswitchField({
                label: 'Test Mode'|t('enupal-stripe'),
                instructions: 'Make sure test mode is enabled in your Stripe dashboard to view your test transactions.',
                id: 'testMode',
                name: 'testMode',
                on: settings.testMode,
                onLabel: "On"|t('enupal-stripe'),
                offLabel: "Off"|t('enupal-stripe'),
                errors: settings.getErrors('testMode'),
            }) }}

            <hr>

            {{ forms.textField({
                label: "Test Publishable Key"|t('enupal-stripe'),
                instructions: "This key starts with <strong>pk_test</strong>"|t('enupal-stripe'),
                id: 'testPublishableKey',
                name: 'testPublishableKey',
                value: settings.testPublishableKey,
                autofocus: true,
                errors: settings.getErrors('testPublishableKey')
            }) }}

            {{ forms.passwordField({
                label: "Test Secret Key"|t('enupal-stripe'),
                instructions: "This key starts with <strong>sk_test</strong>"|t('enupal-stripe'),
                id: 'testSecretKey',
                name: 'testSecretKey',
                value: settings.testSecretKey,
                autofocus: true,
                errors: settings.getErrors('testSecretKey')
            }) }}
            <hr>

            {{ forms.textField({
                label: "Live Publishable Key"|t('enupal-stripe'),
                instructions: "This key starts with <strong>pk_live</strong>"|t('enupal-stripe'),
                id: 'livePublishableKey',
                name: 'livePublishableKey',
                value: settings.livePublishableKey,
                autofocus: true,
                errors: settings.getErrors('livePublishableKey')
            }) }}

            {{ forms.passwordField({
                label: "Live Secret Key"|t('enupal-stripe'),
                instructions: "This key starts with <strong>sk_live</strong>"|t('enupal-stripe'),
                id: 'liveSecretKey',
                name: 'liveSecretKey',
                value: settings.liveSecretKey,
                autofocus: true,
                errors: settings.getErrors('liveSecretKey')
            }) }}

        {% endnamespace %}

    </div>

{% endset %}