{#
/**
 * Stripe Payments plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2018 Enupal LLC
 */
#}

{% extends "enupal-stripe/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set settings = settings is defined ? settings : craft.enupalStripe.getSettings()  %}
{% set variables = craft.enupalStripe.getPaymentFormsAsElementOptions(settings)  %}
{% set syncTypes = craft.enupalStripe.getSyncTypes() %}
{% set orderStatuses = craft.enupalStripe.getOrderStatusesAsOptions() %}

{% set fullPageForm = false %}

{% set content %}
    {{ forms.field({
        label: "Sync your payments from Stripe"|t('enupal-stripe')|upper,
        instructions : 'This process will fetch Payments in Stripe and create new orders if the payment does not exist in the plugin.'|t('enupal-stripe')
    }, null) }}
    <hr>

    <form method="POST">
        {{ csrfInput() }}
        <input type="hidden" name="stripeScenario" value="sync">
        <input type="hidden" name="action"
               value="enupal-stripe/settings/save-settings">
        <input type="hidden" aria-hidden="true" name="redirect"
               value="{{ 'enupal-stripe/settings/syncorders'|hash }}">
        {% namespace 'settings' %}
        {{ forms.selectField({
            label: "Sync Type"|t('enupal-stripe'),
            instructions: "What kind of Payments you want to sync from Stripe"|t('enupal-stripe'),
            id: 'syncType',
            name: 'syncType',
            options: syncTypes,
            required: true,
            value: settings.syncType
        }) }}
         <hr>
        {{ forms.lightswitchField({
            first: true,
            label: "Enable Date Range"|t('enupal-stripe'),
            instructions: "Sync Orders in a date range"|t('enupal-stripe'),
            id: 'syncEnabledDateRange',
            name: 'syncEnabledDateRange',
            on: settings.syncEnabledDateRange,
            errors: settings.getErrors('syncEnabledDateRange'),
            toggle: 'date-range'
        }) }}

        <div id="date-range" class="{% if not settings.syncEnabledDateRange %} hidden {% endif %}">
            {{ forms.dateField({
                label: "Start Date"|t('enupal-stripe'),
                instructions: "The start date of the date range you wish to sync"|t('enupal-stripe'),
                id: 'syncStartDate',
                name: 'syncStartDate',
                value: settings.syncStartDate.date is defined ? craft.enupalStripe.getDate(settings.syncStartDate.date) : now|date_modify("-30 days"),
                errors: (settings is defined ? settings.getErrors('syncStartDate') : null)
            }) }}

            {{ forms.dateField({
                label: "End Date"|t('enupal-stripe'),
                instructions: "The end date of the date range you wish to sync."|t('enupal-stripe'),
                id: 'syncEndDate',
                name: 'syncEndDate',
                value: settings.syncEndDate.date is defined ? craft.enupalStripe.getDate(settings.syncEndDate.date) : now,
                errors: (settings is defined ? settings.getErrors('syncEndDate') : null)
            }) }}
        </div>
        <hr>
        {{ forms.textField({
            label: "Limit"|t('enupal-stripe'),
            instructions: "A limit on the number of new orders to be created."|t('enupal-stripe'),
            name: 'syncLimit',
            size:'10',
            required: true,
            value: settings.syncLimit,
            errors: (settings is defined ? settings.getErrors('syncLimit') : null)
        }) }}

        {{ forms.field({
            label: 'Payment Form'|t('enupal-stripe'),
            instructions: 'Default Payment Form'|t('enupal-stripe'),
            id: 'syncDefaultFormId',
            required: true,
            errors: (settings is defined ? settings.getErrors('syncDefaultFormId') : null)
        }, forms.elementSelect({
            elements: variables.paymentFormElements,
            elementType: variables.elementType,
            id: 'syncDefaultFormId',
            name: 'syncDefaultFormId',
            class: 'syncDefaultFormId-field',
            selectionLabel: 'Add Payment Form'|t('enupal-stripe'),
            limit: 1,
            viewMode: 'large',
            criteria: {siteId : null}
        })) }}

        {{ forms.selectField({
            label: "Order Status"|t('enupal-stripe'),
            instructions: "Default Order Status for synced orders"|t('enupal-stripe'),
            id: 'syncDefaultStatusId',
            required: true,
            name: 'syncDefaultStatusId',
            options: orderStatuses,
            value: settings.syncDefaultStatusId
        }) }}

        {{ forms.lightswitchField({
            first: true,
            label: "Create the Order only if User exists"|t('enupal-stripe'),
            instructions: "Create the Order only if the Order Email has a Craft User associated"|t('enupal-stripe'),
            id: 'syncIfUserExists',
            name: 'syncIfUserExists',
            on: settings.syncIfUserExists,
            errors: settings.getErrors('syncIfUserExists')
        }) }}

        {% endnamespace %}

        <div class="buttons">
            <input class="btn submit" type="submit" value="{{ 'Sync Orders'|t('enupal-stripe') }}">
        </div>
    </form>

{% endset %}