{%- set handle = craft.enupalStripe.labelToHandle(block) %}
{%- set required = block.required  %}
{%- set options = block.options ? block.options : [] %}

<select
        name="metadata[{{ handle }}]"
        id="{{ handle }}"
        class="{{ handle }}"
        {%- if required %} required aria-required="true"{% endif %}
>
    {%- for key, option in options -%}

        {%- set optionLabel = (option.optionLabel is defined ? option.optionLabel : null) -%}
        {%- set optionValue = (option.value is defined ? option.value : key) -%}

        <option value="{{ optionValue }}"
                >{{ optionLabel }}</option>
    {% endfor %}
</select>