{#
/**
 * EnupalStripe plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2018 Enupal
 */
#}

{% import "_includes/forms" as forms %}

{% set currencyOptions = craft.stripeButton.getCurrencyIsoOptions() %}
{% set languageOptions = craft.stripeButton.getLanguageOptions() %}
{% set discountOptions = craft.stripeButton.getDiscountOptions() %}
{% set shippingOptions = craft.stripeButton.getShippingOptions() %}

<div class="meta">
    <h6>{{ 'General'|t('sprout-forms') }}</h6>

    {{ forms.textField({
        first: true,
        label: "Handle <span class='info'>How you’ll refer to this Stripe Button in the templates.</span>"|t('enupal-stripe'),
        id: 'handle',
        name: 'handle',
        value: stripeButton.handle,
        errors: stripeButton.getErrors('handle'),
        autofocus: true,
        required: true
    }) }}

    {{ forms.lightswitchField({
        label: "Enabled"|t('enupal-stripe'),
        id: 'enabled',
        name: 'enabled',
        on: stripeButton.enabled
    }) }}
</div>
<hr>
<div class="meta">
    <h6>{{ 'Paypal Button'|t('sprout-forms') }}</h6>
    {% set amountInput %}
    <div class="flex">
        <div class="textwrapper">
            {{ forms.text({
                label: "Amount <span class='info'>You can leave it in blank if is a donation</span>"|t('enupal-stripe'),
                id: 'amount',
                name: 'amount',
                placeholder: 'Enter amount'|t('enupal-stripe'),
                value: (stripeButton.amount == '0' ? '0'|number : (stripeButton.amount ? stripeButton.amount|number ?: ''))
            }) }}
        </div>
        <div class="textwrapper">
            {{ forms.selectField({
                id: 'currency',
                name: 'currency',
                options: currencyOptions,
                value: stripeButton.currency
            }) }}
        </div>
    </div>
    {% endset %}

    {{ forms.field({
        id: 'amount',
        label: 'Price <span class="info">The price or amount of the product, service, or contribution, not including shipping, handling, or tax. If empty, buyers enter their own amount at the time of payment</span>'|t('enupal-stripe'),
        errors: stripeButton.getErrors('amount')|merge(stripeButton.getErrors('currency')),
    }, amountInput) }}

    {{ forms.selectField({
        label: "Language <span class='info'>PayPal currently supports 18 languages</span>"|t('enupal-stripe'),
        id: 'language',
        name: 'language',
        options: languageOptions,
        value: stripeButton.language
    }) }}

    {% set stockInput %}
        <div class="flex">
            <div class="textwrapper">
                {{ forms.text({
                    id: 'quantity',
                    name: 'quantity',
                    value: (stripeButton.hasUnlimitedStock ? '' : (stripeButton.quantity == '0' ? '0': (stripeButton.quantity ? stripeButton.quantity : ''))),
                    placeholder: 'Enter stock'|t('enupal-stripe'),
                    disabled: stripeButton.hasUnlimitedStock
                }) }}
            </div>
            <div class="nowrap">
                {{ forms.checkbox({
                    id: 'unlimited-stock',
                    class: 'unlimited-stock',
                    label: 'Unlimited'|t('enupal-stripe'),
                    name: 'hasUnlimitedStock',
                    checked: stripeButton.hasUnlimitedStock,
                }) }}
            </div>
        </div>
    {% endset %}

    {{ forms.field({
        id: 'stock',
        label: 'Stock'|t('enupal-stripe'),
        errors: stripeButton.getErrors('hasUnlimitedStock')|merge(stripeButton.getErrors('quantity')),
    }, stockInput) }}

    {{ forms.lightswitchField({
        label: "Customer Quantity <span class='info'>Enables buyers to specify the quantity.</span>"|t('enupal-stripe'),
        id: 'customerQuantity',
        name: 'customerQuantity',
        on: stripeButton.customerQuantity
    }) }}
</div>
<hr>
<div class="meta">
    <h6>{{ 'Discount'|t('sprout-forms') }}</h6>
    {{ forms.selectField({
        label: "Discount Type <span class='info'>Reduce the price by a percentage or amount, of the original price.</span>"|t('enupal-stripe'),
        id: 'discountType',
        name: 'discountType',
        options: discountOptions,
        value: stripeButton.discountType
    }) }}
    {{ forms.textField({
        first: true,
        label: "Discount <span class='info'>Apply discount to amount</span>"|t('enupal-stripe'),
        id: 'discount',
        name: 'discount',
        placeholder: 'Enter discount',
        value: (stripeButton.discount == '0' ? '0'|number : (stripeButton.discount ? stripeButton.discount|number ?: '')),
        errors: stripeButton.getErrors('discount'),
        autofocus: true,
    }) }}
</div>
<hr>
<div class="meta">
    <h6>{{ 'Shipping'|t('sprout-forms') }}</h6>

    {{ forms.lightswitchField({
        label: "Shipping Address <span class='info'>Enables buyers to specify the Shipping Address</span>"|t('enupal-stripe'),
        id: 'enableShippingAddress',
        name: 'enableShippingAddress',
        on: stripeButton.enableShippingAddress
    }) }}

    {{ forms.lightswitchField({
        label: "Billing Address <span class='info'>Enables buyers to specify the Billing Address</span>"|t('enupal-stripe'),
        id: 'enableBillingAddress',
        name: 'enableBillingAddress',
        on: stripeButton.enableBillingAddress
    }) }}

    {{ forms.lightswitchField({
        label: "Verify Zip <span class='info'>Specify whether Checkout should validate the billing ZIP code</span>"|t('enupal-stripe'),
        id: 'verifyZip',
        name: 'verifyZip',
        on: stripeButton.verifyZip
    }) }}

    {{ forms.textField({
        first: true,
        label: "Shipping <span class='info'>Shipping amount, leave empty if is free shipping</span>"|t('enupal-stripe'),
        id: 'shippingAmount',
        name: 'shippingAmount',
        placeholder: 'Enter amount',
        unit: stripeButton.currency,
        value: (stripeButton.shippingAmount == '0' ? '0'|number : (stripeButton.shippingAmount ? stripeButton.shippingAmount|number ?: '')),
        errors: stripeButton.getErrors('shippingAmount'),
        autofocus: true,
    }) }}
</div>
<hr>
<div class="meta">
    <h6>{{ 'Advanced'|t('sprout-forms') }}</h6>

    {{ forms.textField({
        label: "Return URL <span class='info'>Redirect buyers' to this URL after they complete their payments</span>"|t('enupal-stripe'),
        id: 'returnUrl',
        name: 'returnUrl',
        value: stripeButton.returnUrl,
        placeholder: '/thank-you',
        autofocus: true,
        errors: stripeButton.getErrors('returnUrl')
    }) }}
</div>