{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set selectedSubnavItem = "commissions" %}
{% set fullPageForm = true %}
{% set title = "Commission: for order"~commission.getOrder().number %}
{% set saveShortcutRedirect = continueEditingUrl %}

{% set crumbs = [
    {    label: "Vendor"|t('enupal-stripe'), url: url('enupal-stripe/commissions') }
] %}

{% hook "cp.enupal-stripe.commission.edit" %}

{% set tabs = {
    general:  {
        label: "General"|t,
        url: '#tab1',
    }
} %}

{% block actionButton %}
    {% hook "cp.enupal-stripe.commission.actionbutton" %}

    <input type="hidden" name="action" value="enupal-stripe/commissions/save-commission">
    <input type="hidden" name="commissionId" value="{{ commission.id }}">
    {{ redirectInput('enupal-stripe/commissions') }}

    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">

        <div class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                <li><a class="formsubmit"
                       data-redirect="{{ continueEditingUrl|hash }}">
                        {{ forms.optionShortcutLabel('S') }}
                        {{ "Save and continue editing"|t('app') }}
                    </a></li>
            </ul>

            <hr>
            <ul>
                <li><a class="formsubmit error"
                       data-action="enupal-stripe/commissions/delete-commission"
                       data-confirm="{{ 'Are you sure you want to delete this commission?'|t('enupal-stripe') }}"
                       data-redirect="{{ 'enupal-stripe/commissions'|hash }}">{{ 'Delete'|t('app') }}</a>
                </li>
            </ul>

        </div>
    </div>
{% endblock %}

{% block details %}
    {% namespace 'fields' %}

        {% include 'enupal-stripe/commissions/_commissionInfo' %}

    {% endnamespace %}
{% endblock %}

{% block content %}
    {% namespace 'fields' %}
        <div id="tab1">
            <div class="customer-select-wrapper">
                <div class="customer-wrapper">
                    <div class="order-flex align-center customer-display">
                        <div class="customer-photo-wrapper">
                            <div class="customer-photo order-flex justify-center align-center customer-photo--initial customer-avatar-green"><!---->
                                <div>{{ comission.get }}</div><!----></div><span class="status active"></span></div><div class="customer-info-container ml-1"><div>Andre Lopez</div><!----><div class="w-full light">admin@test.com</div><div class="w-full"><a href="http://craft3nitro.test/admin/commerce/customers/1">View customer</a><span> | </span><a href="http://craft3nitro.test/admin/myaccount">View user</a></div></div></div><!----></div><!----></div>

            {{ forms.selectField({
                label: "Payment Type"|t('enupal-stripe'),
                instructions: 'When the payouts should be sent to this commission?'|t('enupal-stripe'),
                id: 'paymentType',
                name: 'paymentType',
                options: paymentTypeOptions,
                value: commission.paymentType
            }) }}

            {{ forms.lightswitchField({
                label: 'Skipt admin review'|t('enupal-stripe'),
                instructions: 'Allow commissions to add products without admin review'|t('enupal-stripe'),
                id: 'skipAdminReview',
                name: 'skipAdminReview',
                on: commission.skipAdminReview,
                onLabel: "On"|t('enupal-stripe'),
                offLabel: "Off"|t('enupal-stripe'),
                errors: commission.getErrors('skipAdminReview')
            }) }}

        </div>
    {% endnamespace %}
{% endblock %}

{% do view.registerAssetBundle("enupal\\stripe\\web\\assets\\FontAwesomeAsset") %}