{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set selectedSubnavItem = "orders" %}
{% set fullPageForm = true %}
{% set title = "Order: "~order.number %}
{% set saveShortcutRedirect = continueEditingUrl %}

{% set crumbs = [
    {    label: "Orders"|t('enupal-stripe'), url: url('enupal-stripe/orders') }
] %}

{% hook "cp.enupal-stripe.order.edit" %}

{% set tabs = {
    general:  {
        label: "General"|t,
        url: '#order-details',
    },
    messages:  {
        label: "Messages"|t,
        url: '#order-messages'
    }
} %}

{% block actionButton %}
    {% hook "cp.enupal-stripe.order.actionbutton" %}
    {% if not craft.enupalStripe.getIsSnapshotInstalled() %}
        <a class="btn small" href="{{ cpUrl('plugin-store/enupal-snapshot') }}" target="_blank">{{ 'Install Enupal Snapshot'|t('enupal-snapshot') }}</a>
        &nbsp;<span class="info">{{ "This plugin automatically adds a PDF invoice to the order confirmation emails sent out to your customers. Includes a basic template as well as the possibility to modify/create your own templates"|t('enupal-snapshot') }}</span>
        <div class="flex-grow"></div>
    {% endif %}

    <input type="hidden" name="action" value="enupal-stripe/orders/save-order">
    <input type="hidden" name="orderId" value="{{ order.id }}">
    {{ redirectInput('enupal-stripe/orders') }}

    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">

        <div class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                <li><a class="formsubmit"
                       data-redirect="{{ continueEditingUrl|hash }}">
                        {{ forms.optionShortcutLabel('S') }}
                        {{ "Save and continue editing"|t('app') }}
                    </a></li>
            </ul>

            <hr>
            <ul>
                <li><a class="formsubmit error"
                       data-action="enupal-stripe/orders/delete-order"
                       data-confirm="{{ 'Are you sure you want to delete this order?'|t('enupal-stripe') }}"
                       data-redirect="{{ 'enupal-stripe/orders'|hash }}">{{ 'Delete'|t('app') }}</a>
                </li>
            </ul>

        </div>
    </div>
{% endblock %}

{% block details %}
    {% namespace 'fields' %}

    {% include 'enupal-stripe/orders/_orderInfo' %}

    {% endnamespace %}
{% endblock %}

{% block content %}
    {% if order.testMode %}
        <span class="testMode">Test Mode</span>
    {% endif %}
    {% include 'enupal-stripe/orders/_orderDetails' %}
    {% include 'enupal-stripe/orders/_messages' %}

{% endblock %}

{% css %}
    .isPaid {
    font-weight: bold;
    position: absolute;
    bottom: 120px;
    left: 55%;
    font-family: 'Helvetica', serif;
    color: rgba(211, 65, 50, 0.5);
    font-size: 35px;
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    }
    .testMode {
    background-color: #f7e633;
    color: #363636;
    border-radius: 5px;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    padding-left: 9px;
    padding-right: 9px;
    height: 26px;
    line-height: 26px;
    }
{% endcss %}

{% js %}
    $(document).ready(function () {
        $.each($('.tableRowInfo'), function () {
            new Craft.StripeButton.TableRowAdditionalInfoIcon(this);
        });
        var isSubscription = false;
        {% if order.isSubscription %}
            isSubscription = true;
        {% endif %}
        new EnupalStripeEditOrder(isSubscription);
    });
{% endjs %}

{% do view.registerAssetBundle("enupal\\stripe\\web\\assets\\EditOrderAsset") %}
{% do view.registerAssetBundle("craft\\web\\assets\\prismjs\\PrismJsAsset") %}