{% import "_includes/forms" as forms %}
<div id="settings" class="meta">
    <div class="field">
        <div class="heading">
            <label>{{ "Payment Status"|t('enupal-stripe') }}</label>
        </div>
        <div class="input">
            {{ order.getPaymentStatusHtml()|raw }}
            {% if not order.isCompleted %}
                <span class="info"> {{ "Certain asynchronous payment methods (e.g., SOFORT) may require days for the funds to be confirmed and the charge to succeed, requiring the use of webhooks to know when to confirm and eventually fulfill your orders. Or the payment has not yet been captured"|t('enupal-stripe') }}</span>
            {% endif %}
            {% if order.getNeedCapture() and not order.isCompleted %}
                <div id="capture-payment" class="btn small right">{{ "Capture"|t('enupal-stripe') }} </div><div class="spinner hidden"></div>
            {% endif %}
        </div>
    </div>

    <div class="field">
        <div class="heading">
            <label>{{ "Order Number"|t('enupal-stripe') }}</label>
        </div>
        <div class="input">
            <span id="order-number-short">{{ order.number }}</span>
        </div>
    </div>

    <div class="field">
        <div class="heading">
            <label>{{ "Total Price"|t('enupal-stripe') }}</label>
        </div>
        <div class="input">
            {{ order.totalPrice|currency(order.currency) }}
            {% if not order.refunded and order.isCompleted %}
                <div id="refund-payment" class="btn small right">{{ "Refund"|t('enupal-stripe') }} </div><div class="spinner hidden"></div>
            {% endif %}
        </div>
    </div>

    <div class="field">
        <div class="heading">
            <label>{{ "Order Currency"|t('enupal-stripe') }}</label>
        </div>
        <div class="input">
            <span id="order-currency">{{ order.currency }}</span>
        </div>
    </div>

    <div class="field">
        <div class="heading">
            <label>{{ "Method"|t('enupal-stripe') }}</label>
        </div>
        <div class="input">
            <span id="order-number-short">{{ order.getPaymentMethod() }}</span>
        </div>
    </div>

    <div class="field">
        <div class="heading">
            <label>{{ "Type"|t('enupal-stripe') }}</label>
        </div>
        <div class="input">
            <span id="order-number-short">{{ order.getPaymentType() }}</span>
        </div>
    </div>

    <div class="field">
        <div class="heading">
            <label>{{ "Customer Email"|t('enupal-stripe') }}</label>
        </div>
        <div class="input" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" title="{{ order.email }}">
            <a href="mailto:{{ order.email }}">{{ order.email }}</a>
        </div>
    </div>

    <div class="field">
        <div class="heading">
            <label>{{ "User"|t('enupal-stripe') }}</label>
        </div>
        <div class="input">
            {{ order.getUserHtml()|raw }}
        </div>
    </div>

    <div class="field">
        <div class="heading">
            <label>{{ "Stripe Reference"|t('enupal-stripe') }}</label>
        </div>
        <div class="input" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" title="{{ order.stripeTransactionId }}">
            {% set url = "https://dashboard.stripe.com" %}
            {% set url = order.testMode ? url~'/test' : url %}
            {% set url = order.stripeTransactionId|slice(0, 3) == 'sub' ? url~'/subscriptions' : url~'/payments' %}
            <a target="_blank" href="{{ url~'/'~order.stripeTransactionId }}">{{ order.stripeTransactionId }}</a>
        </div>
    </div>

    <div class="field">
        <div class="heading">
            <label>{{ "Stripe Customer"|t('enupal-stripe') }}</label>
        </div>
        {% set customerId = craft.enupalStripe.getCustomerReference(order.email) %}
        <div class="input" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" title="{{ customerId }}">
            <a href="https://dashboard.stripe.com/test/customers/{{ customerId }}">{{ customerId }}</a>
        </div>
    </div>
</div>
<div class="details">
    <div class="meta">
        {% set orderStatusOptions = craft.enupalStripe.getOrderStatuses() %}
        {{ forms.selectField({
            label: "Order Status"|t('enupal-stripe'),
            id: 'orderStatusId',
            name: 'orderStatusId',
            options: orderStatusOptions,
            value: order.orderStatusId,
            errors: order.getErrors('orderStatusId')
        }) }}
    </div>
    <div class="meta read-only">
        <div class="data">
            <h5 class="heading">{{ "Order Date"|t('app') }}</h5>
            <div class="value">{{ order.dateCreated|datetime('short') }}</div>
        </div>
        <div class="data">
            <h5 class="heading">{{ "Updated at"|t('app') }}</h5>
            <div class="value">{{ order.dateUpdated|datetime('short') }}</div>
        </div>

        {% if order.refunded %}
            <div class="data">
                <h5 class="heading">{{ "Refunded at"|t('app') }}</h5>
                <div class="value">{{ order.dateRefunded|datetime('short') }}</div>
            </div>
        {% endif %}
    </div>
</div>
