{% set form = order.getPaymentForm() %}
<div id="order-details" class="order-details pane">
    <table id="" class="data fullwidth collapsible">
        <thead>
        <tr>
            <th scope="col">{{ 'Payment Form'|t('enupal-stripe') }}</th>
            <th scope="col">{{ 'Quantity'|t('enupal-stripe') }}</th>
            <th scope="col">{{ 'Type'|t('enupal-stripe') }}</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        <tr class="infoRow">
            <td>
                <a href="{{ form.cpEditUrl }}">{{ form.name }}</a>
            </td>
            <td>
                {{ order.quantity }}
            </td>
            <td>
                {{ order.getPaymentType() }}
            </td>
            <td></td>
            <td></td>
            <td>
            </td>
            <td>
            </td>
        </tr>

                <tr>
                    <td></td>
                    <td>
                        <strong></strong><br>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <span class="right"></span>
                    </td>
                    <td></td>
                </tr>
                {# SHIPPING
                <tr>
                    <td></td>
                    <td>
                        <strong>{{ "Discount "|t('enupal-stripe')}}</strong><br>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <span class="right">-{{ order.discount|currency(order.currency) }}</span>
                    </td>
                    <td></td>
                </tr>
                #}
        {% if order.tax > 0 and order.isSubscription() %}
        <tr>
            <td></td>
            <td>
            </td>
            <td></td>
            <td></td>
            <td>{{ "Tax"|t('enupal-stripe') }}</td>
            <td>
                <h2 class="right">{{ order.tax|currency(order.currency) }}</h2>
            </td>
            <td></td>
        </tr>
        {% endif %}
        <tr>
            <td></td>
            <td>
                <div class="isPaid">
                    {% if order.isCompleted  %}
                        <span>{{ 'PAID'|t('enupal-stripe') }}</span>
                    {% endif %}
                </div>
            </td>
            <td></td>
            <td></td>
            <td><h2>{{ "Total Amount"|t('enupal-stripe') }}</h2></td>
            <td>
                <h2 class="right">{{ order.totalPrice|currency(order.currency) }}</h2>
            </td>
            <td></td>
        </tr>
        </tbody>
    </table>

    {% if order.isSubscription %}
        <input type="hidden" id="subscriptionId" value="{{ order.stripeTransactionId }}">
        <hr>
        <h3>{{ "Subscription"|t('enupal-stripe') }}</h3>
        <div class="order-details pane">
            <table id="" class="data fullwidth collapsible">
                <thead>
                <tr>
                    <th scope="col">{{ 'Plan nickname'|t('enupal-stripe') }}</th>
                    <th scope="col">{{ 'Status'|t('enupal-stripe') }}</th>
                    <th scope="col">{{ 'Interval'|t('enupal-stripe') }}</th>
                    <th scope="col">{{ 'Period Start'|t('enupal-stripe') }}</th>
                    <th scope="col">{{ 'Period end'|t('enupal-stripe') }}</th>
                    <th scope="col">{{ 'Quantity'|t('enupal-stripe') }}</th>
                    <th id="cancel-title" scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <td id="subs-nickname">

                </td>
                <td id="subs-status">

                </td>
                <td id="subs-interval">

                </td>
                <td id="subs-start">

                </td>
                <td id="subs-end">

                </td>
                <td id="subs-quantity">

                </td>
                <td style="width:10%;" id="subs-cancel">
                    <div id="cancel-subscription" class="btn">{{ "Cancel"|t('enupal-stripe') }} </div><div class="spinner hidden"></div>
                </td>
                <td style="width:10%;" id="subs-load">
                    <div id="refresh-subscription" class="btn">{{ "Refresh"|t('enupal-stripe') }} </div><div class="spinner hidden"></div>
                </td>
                </tbody>
            </table>
        </div>
    {% endif %}

    {% for key, variant in order.getFormFields() %}
        {% if loop.first %}
            <hr>
            <h3>{{ "Form Fields"|t('enupal-stripe') }}</h3>
            <div class="order-details pane">
            <table id="" class="data fullwidth collapsible">
            <thead>
            <tr>
                <th scope="col">{{ 'Label'|t('enupal-stripe') }}</th>
                <th scope="col"></th>
                <th scope="col">{{ 'Value'|t('enupal-stripe') }}</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
        {% endif %}
        <tr class="infoRow">
            <td>
                {{ key }}
            </td>
            <td>
            </td>
            <td>
                {% if variant is iterable %}
                    {% for val in variant %}
                        {{ val }}
                    {% endfor %}
                {% else %}
                    {{ variant }}
                {% endif %}
            </td>
            <td>
            </td>
        </tr>
        {% if loop.last %}
            </tbody>
            </table>
            </div>
        {% endif %}
    {% endfor %}

    {% if order.addressCity %}
        <hr>
        <h3>{{ 'Shipping/Billing Address'|t('enupal-stripe') }}</h3>
        {{ order.getShippingAddress()|raw }}
    {% endif %}

</div>

