{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set selectedSubnavItem = "vendors" %}
{% set fullPageForm = true %}
{% set title = "Vendor: "~vendor.getVendorName() %}
{% set saveShortcutRedirect = continueEditingUrl %}

{% set crumbs = [
    {    label: "Vendor"|t('enupal-stripe'), url: url('enupal-stripe/vendors') }
] %}

{% hook "cp.enupal-stripe.vendor.edit" %}

{% set tabs = {
    general:  {
        label: "General"|t,
        url: '#tab1',
    }
} %}

{% block actionButton %}
    {% hook "cp.enupal-stripe.vendor.actionbutton" %}

    <input type="hidden" name="action" value="enupal-stripe/vendors/save-vendor">
    <input type="hidden" name="vendorId" value="{{ vendor.id }}">
    {{ redirectInput('enupal-stripe/vendors') }}

    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">

        <div class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                <li><a class="formsubmit"
                       data-redirect="{{ continueEditingUrl|hash }}">
                        {{ forms.optionShortcutLabel('S') }}
                        {{ "Save and continue editing"|t('app') }}
                    </a></li>
            </ul>

            <hr>
            <ul>
                <li><a class="formsubmit error"
                       data-action="enupal-stripe/vendors/delete-vendor"
                       data-confirm="{{ 'Are you sure you want to delete this vendor?'|t('enupal-stripe') }}"
                       data-redirect="{{ 'enupal-stripe/vendors'|hash }}">{{ 'Delete'|t('app') }}</a>
                </li>
            </ul>

        </div>
    </div>
{% endblock %}

{% block details %}
    {% namespace 'fields' %}

        {% include 'enupal-stripe/vendors/_vendorInfo' %}

    {% endnamespace %}
{% endblock %}

{% block content %}
    {% namespace 'fields' %}
        <div id="tab1">
            {{ forms.field({
                label: '<i class="fa fa-user-o" aria-hidden="true"></i> '~'Vendor'|t('enupal-stripe'),
                instructions: 'User that represents the vendor owner'|t('enupal-stripe'),
                id: 'userId',
                errors: vendor.getErrors('userId')
            }, forms.elementSelect({
                elements: [userElement],
                elementType: elementType,
                criteria: criteria,
                id: 'userId',
                name: 'userId',
                class: 'userId-field',
                selectionLabel: 'Add User'|t('enupal-stripe'),
                limit: 1,
                viewMode: 'large'
            })) }}

            {{ forms.selectField({
                label: "Payment Type"|t('enupal-stripe'),
                instructions: 'When the payouts should be sent to this vendor?'|t('enupal-stripe'),
                id: 'paymentType',
                name: 'paymentType',
                options: paymentTypeOptions,
                value: vendor.paymentType
            }) }}

            {{ forms.lightswitchField({
                label: 'Skipt admin review'|t('enupal-stripe'),
                instructions: 'Allow vendors to add products without admin review'|t('enupal-stripe'),
                id: 'skipAdminReview',
                name: 'skipAdminReview',
                on: vendor.skipAdminReview,
                onLabel: "On"|t('enupal-stripe'),
                offLabel: "Off"|t('enupal-stripe'),
                errors: vendor.getErrors('skipAdminReview')
            }) }}

        </div>
    {% endnamespace %}
{% endblock %}

{% do view.registerAssetBundle("enupal\\stripe\\web\\assets\\FontAwesomeAsset") %}