{#
/**
 * EnupalStripe plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2018 Enupal
 */
#}

{% extends "enupal-stripe/_layouts/base" %}
{% import "_includes/forms" as forms %}
{% set crumbs = [
    { label: "Buttons"|t('enupal-stripe'), url: cpUrl('enupal-stripe/buttons') }
] %}

{% set title = 'Edit Stripe Button'|t('enupal-stripe') %}
{% set fullPageForm = true %}
{% set saveShortcutRedirect = continueEditingUrl %}
{% set tabs = {
    general:  {
        label: "General"|t,
        url: '#fields-tab1',
    },
    subscriptions:  {
        label: "Subscriptions"|t,
        url: '#fields-tab2',
        class: (notificationErrors is defined ? notificationErrors : null)
    },
    formFields:  {
        label: "Form Fields"|t,
        url: '#fields-tab3',
        class: (notificationErrors is defined ? notificationErrors : null)
    }
} %}

{% block actionButton %}
    <input type="hidden" name="action" value="enupal-stripe/buttons/save-button">
    {{ redirectInput('enupal-stripe/buttons') }}
    <input type="hidden" id="buttonId" name="buttonId" value="{{ stripeButton.id is defined ? stripeButton.id : '' }}">

    <div class="btngroup submit first">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('enupal-stripe') }}">
        {% if stripeButton.id != null %}
            <div class="btn submit menubtn"></div>
            <div class="menu">
                <ul>
                    <li><a class="formsubmit" data-redirect="{{('enupal-stripe/buttons/edit/'~stripeButton.id)|hash}}">{{ "Save and continue editing"|t('enupal-stripe') }} <span class="shortcut">⌘S</span></a></li>
                </ul>
                <hr>
                <ul>
                    <li><a class="formsubmit error"
                           data-action="enupal-stripe/buttons/delete-button"
                           data-confirm='{{ "Are you sure you want to delete this Paypal Button, and all of it's orders?"|t('enupal-stripe') }}'
                           data-redirect="{{ 'enupal-stripe/buttons'|hash }}">{{ "Delete"|t('enupal-stripe') }}</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <input type="hidden" name="action" value="enupal-stripe/buttons/save-button">
    <input type="hidden" name="handle" value="{{ stripeButton.handle }}">
    <input type="hidden" name="buttonId" value="{{ buttonId }}">

    {% namespace 'fields' %}
    <div id="tab1">
            {{ forms.textField({
                first: true,
                label: "Item Name"|t('enupal-stripe'),
                instructions: 'What this Paypal Button will be called in the CP. This value will be used to set the <strong>Item Description</strong> in Stripe',
                id: 'name',
                name: 'name',
                value: stripeButton.name,
                errors: stripeButton.getErrors('name'),
                autofocus: true,
                required: true
            }) }}

            {{ forms.textField({
                first: true,
                label: "Company Name"|t('enupal-stripe'),
                instructions: 'The name of your company or website',
                id: 'name',
                name: 'name',
                value: stripeButton.name,
                errors: stripeButton.getErrors('name'),
                autofocus: true,
                required: true
            }) }}

            {{ forms.field({
                label: '<i class="fa fa-picture-o" aria-hidden="true"></i> '~'Logo'|t('enupal-stripe'),
                instructions: 'An Image of your brand or product. The recommended minimum size is 128x128px. The supported image types are: .gif, .jpeg, and .png.'|t('enupal-slider'),
                id: 'logoImage'
            }, forms.elementSelect({
                elements: logoElement,
                elementType: elementType,
                id: 'logoImage',
                name: 'logoImage',
                class: 'logoImage-field',
                jsClass: 'Craft.AssetSelectInput',
                selectionLabel: 'Add an image'|t('enupal-stripe'),
                limit: 1,
                viewMode: 'large',
                criteria: {kind: ['image'], siteId : null}
            })) }}
            <hr>

            {{ forms.textField({
                first: true,
                label: "Payment Button Text"|t('enupal-stripe'),
                instructions: 'Text used on displayButton tag. "Pay with card" is the default',
                placeholder: 'Pay {{ button.getAmountAsCurrency() }}',
                id: 'buttonText',
                name: 'buttonText',
                value: stripeButton.buttonText,
                errors: stripeButton.getErrors('buttonText')
            }) }}

            {{ forms.textField({
                first: true,
                label: "Payment Button Processing Text"|t('enupal-stripe'),
                instructions: 'Text used when the payment is processing',
                placeholder: 'Please wait...',
                id: 'paymentButtonProcessingText',
                name: 'paymentButtonProcessingText',
                value: stripeButton.paymentButtonProcessingText,
                errors: stripeButton.getErrors('paymentButtonProcessingText')
            }) }}
    </div>
    <div id="tab2" class="hidden">
        Recurring Fields
    </div>
    <div id="tab3" class="hidden">
        {% for tab in stripeButton.getFieldLayout().getTabs() %}

            {% set fields = tab.getFields() %}

            {% for field in fields %}
                {% include "_includes/field" with {
                    field:    field,
                    required: field.required,
                    element:  stripeButton,
                    static: null
                } only %}
            {% endfor %}

        {% endfor %}
    </div>
    {% endnamespace %}
{% endblock %}

{% block details %}
    {% namespace 'fields' %}
        {% include "enupal-stripe/buttons/_sidebar/settings" %}
        <hr>
    {% endnamespace %}
    <div class="meta read-only">
        <div class="data">
            <h5 class="heading">{{ "Date Created"|t('commerce') }}</h5>
            <div class="value">{{ stripeButton.dateCreated|date('short') }} {{ stripeButton.dateCreated|time('short') }}</div>
        </div>
        <div class="data">
            <h5 class="heading">{{ "Date Updated"|t('commerce') }}</h5>
            <div class="value">{{ stripeButton.dateUpdated|date('short') }} {{ stripeButton.dateUpdated|time('short') }}</div>
        </div>
    </div>
{% endblock %}

{% do view.registerAssetBundle("enupal\\stripe\\web\\assets\\StripeButtonAsset") %}
{% do view.registerAssetBundle("enupal\\stripe\\web\\assets\\FontAwesomeAsset") %}
{% js %}
    $(document).ready(function() {
        new EnupalStripe();
    });
{% endjs %}

{% css %}
    .stripe-instructions {
    margin-top: 2px;
    color: #8f98a3;
    }
    .meta h6{
    color: #333f4d;
    }
{% endcss %}
