{#
/**
 * EnupalStripe plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2018 Enupal
 */
#}

{% extends "enupal-stripe/_layouts/base" %}
{% import "_includes/forms" as forms %}
{% set crumbs = [
    { label: "Buttons"|t('enupal-stripe'), url: cpUrl('enupal-stripe/buttons') }
] %}

{% set title = 'Edit Paypal Button'|t('enupal-stripe') %}
{% set fullPageForm = true %}
{% set saveShortcutRedirect = continueEditingUrl %}

{% block actionButton %}
    <input type="hidden" name="action" value="enupal-stripe/buttons/save-button">
    {{ redirectInput('enupal-stripe/buttons') }}
    <input type="hidden" id="buttonId" name="buttonId" value="{{ paypalButton.id is defined ? paypalButton.id : '' }}">

    <div class="btngroup submit first">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('enupal-stripe') }}">
        {% if paypalButton.id != null %}
            <div class="btn submit menubtn"></div>
            <div class="menu">
                <ul>
                    <li><a class="formsubmit" data-redirect="{{('enupal-stripe/buttons/edit/'~paypalButton.id)|hash}}">{{ "Save and continue editing"|t('enupal-stripe') }} <span class="shortcut">⌘S</span></a></li>
                </ul>
                <hr>
                <ul>
                    <li><a class="formsubmit error"
                           data-action="enupal-stripe/buttons/delete-button"
                           data-confirm='{{ "Are you sure you want to delete this Paypal Button, and all of it's orders?"|t('enupal-stripe') }}'
                           data-redirect="{{ 'enupal-stripe/buttons'|hash }}">{{ "Delete"|t('enupal-stripe') }}</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <input type="hidden" name="action" value="enupal-stripe/buttons/save-button">
    <input type="hidden" name="sku" value="{{ paypalButton.sku }}">
    <input type="hidden" name="buttonId" value="{{ buttonId }}">

    {% namespace 'fields' %}
        {{ forms.textField({
            first: true,
            label: "Item Name"|t('enupal-stripe'),
            instructions: 'What this Paypal Button will be called in the CP. This value will be used to set the <strong>Item Description</strong> in Stripe',
            id: 'name',
            name: 'name',
            value: paypalButton.name,
            errors: paypalButton.getErrors('name'),
            autofocus: true,
            required: true
        }) }}
        <hr>

        {{ forms.textField({
            first: true,
            label: "Payment Button Text"|t('enupal-stripe'),
            instructions: 'Text used on displayButton tag. "Pay with card" is the default',
            placeholder: 'Pay {{ button.amount }}',
            id: 'buttonText',
            name: 'buttonText',
            value: paypalButton.buttonText,
            errors: paypalButton.getErrors('buttonText')
        }) }}

        {{ forms.textField({
            first: true,
            label: "Payment Button Processing Text"|t('enupal-stripe'),
            instructions: 'Text used when the payment is processing',
            placeholder: 'Please wait...',
            id: 'paymentButtonProcessingText',
            name: 'paymentButtonProcessingText',
            value: paypalButton.paymentButtonProcessingText,
            errors: paypalButton.getErrors('paymentButtonProcessingText')
        }) }}

        <hr>
        {% for tab in paypalButton.getFieldLayout().getTabs() %}

            {% set fields = tab.getFields() %}

            {% for field in fields %}
                {% include "_includes/field" with {
                    field:    field,
                    required: field.required,
                    element:  paypalButton,
                    static: null
                } only %}
            {% endfor %}

        {% endfor %}
    {% endnamespace %}
{% endblock %}

{% block details %}
    {% namespace 'fields' %}
        {% include "enupal-stripe/buttons/_sidebar/settings" %}
        <hr>
    {% endnamespace %}
    <div class="meta read-only">
        <div class="data">
            <h5 class="heading">{{ "Date Created"|t('commerce') }}</h5>
            <div class="value">{{ paypalButton.dateCreated|date('short') }} {{ paypalButton.dateCreated|time('short') }}</div>
        </div>
        <div class="data">
            <h5 class="heading">{{ "Date Updated"|t('commerce') }}</h5>
            <div class="value">{{ paypalButton.dateUpdated|date('short') }} {{ paypalButton.dateUpdated|time('short') }}</div>
        </div>
    </div>
{% endblock %}

{% do view.registerAssetBundle("enupal\\stripe\\assetbundles\\StripeButtonAsset") %}
{% do view.registerAssetBundle("enupal\\stripe\\assetbundles\\FontAwesomeAsset") %}
{% js %}
    $(document).ready(function() {
        new EnupalStripe();
    });
{% endjs %}

{% css %}
    .paypal-instructions {
    margin-top: 2px;
    color: #8f98a3;
    }
{% endcss %}
