{% if button.amountType == 1 %}
    {% set customLabel = button.getCustomLabel() %}
    {% set currencySymbol = button.getCurrencySymbol() %}
    {% set customId = 'customAmount-'~button.id %}
    {% set recurringId = 'recurringToggle-'~button.id %}
    {% set interval = button.recurringPaymentType == 'month' ? 'monthly' : 'yearly'  %}
    {% set recurringLabel = 'Make this a '~interval~' payment' %}
    {% set minimunAmount = button.amount ? button.amount|number_format : button.minimumAmount ? button.minimumAmount|number_format : '' %}
    <div class="form-group">
        <div class="heading">
            <label for="{{ customId }}">
                {{- customLabel|raw|t -}}
            </label>
        </div>
        <div class="enupal-input-icon">
            <i>{{ currencySymbol }}</i>
            <input type="number" class="form-control" id="{{ customId }}" name="customAmount" min="{{ button.minimumAmount|number_format }}" placeholder="1" value="{{ minimunAmount }}">
        </div>
    </div>
{% endif %}
{% if button.enableRecurringPayment %}
    <div class="form-group">
        <div class="enupal-input-icon">
            <input type="checkbox" class="form-control" id="{{ recurringId }}" name="recurringToggle">

            <label for="{{ recurringId }}">
                {{- recurringLabel|t -}}
            </label>
        </div>
    </div>
{% endif %}