{%- set redirectUri = button.returnUrl -%}
{% spaceless %}
    <form class="enupal-stripe-form" id="enupal-stripe-{{ button.id }}" method="POST">
        {{ csrfInput() }}
        <input type="hidden" aria-hidden="true" name="action"
               value="enupal-stripe/stripe/save-order">
        {%- if redirectUri is not empty %}
            {% if redirectUri|slice(0, 1)|lower == '?' %}
                {%- set redirectUri = craft.request.getUrl()~button.returnUrl %}
            {% endif %}

            <input type="hidden" aria-hidden="true" name="redirect"
                   value="{{ redirectUri|hash }}">
        {% endif %}

        {% namespace 'enupalStripe' %}
            <input type="hidden" name="token" value />
            {% if button.enableSubscriptions %}
                <input type="hidden" name="planId" value>
            {% endif %}
            <input type="hidden" name="email" value />
            <input type="hidden" name="buttonId" value="{{ button.id }}" />
            <input type="hidden" name="amount" value />
            <input type="hidden" name='stripeData' value="{{ button.getPublicData() }}">
            <input type="hidden" name='testMode' value=>
            {% if button.enableShippingAddress %}
                    <input type="hidden" name="address[name]" value />
                    <input type="hidden" name="address[country]" value />
                    <input type="hidden" name="address[zip]" value />
                    <input type="hidden" name="address[state]" value />
                    <input type="hidden" name="address[line1]" value />
                    <input type="hidden" name="address[city]" value />
            {% endif %}

        {% for block in button.enupalStripeBasicFields %}
            <div class="fields">
                <section class="tab">
                    <div class="heading">
                        <label for="{{ block.label }}">
                            {{- block.label|raw|t -}}
                        </label>
                    </div>
                    <div class="input">
                        {%- set input = craft.enupalStripe.displayField(block)  %}
                        {{ input|raw }}
                    </div>
                </section>
            </div>
        {% endfor %}

        {# FIELDS LOGIC #}
        {% if not button.enableSubscriptions  %}
            {# One time payment logic #}
            {% if button.amountType == 1 %}
                {% set customLabel = button.getCustomLabel() %}
                {% set currencySymbol = button.getCurrencySymbol() %}
                {% set customId = 'customAmount-'~button.id %}
                {% set recurringId = 'recurringToggle-'~button.id %}
                {% set interval = button.recurringPaymentType == 'month' ? 'monthly' : 'yearly'  %}
                {% set recurringLabel = 'Make this a '~interval~' payment' %}
                {% set minimumAmount = button.amount ? button.amount|number_format : button.minimumAmount ? button.minimumAmount|number_format : '' %}
                <div class="form-group">
                    <div class="heading">
                        <label for="{{ customId }}">
                            {{- customLabel|raw|t -}}
                        </label>
                    </div>
                    <div class="enupal-input-icon">
                        <i>{{ currencySymbol }}</i>
                        <input type="number" class="form-control" id="{{ customId }}" name="customAmount" min="{{ button.minimumAmount|number_format }}" placeholder="1" value="{{ minimumAmount }}">
                    </div>
                </div>
            {% endif %}
            {% if button.enableRecurringPayment %}
                <div class="form-group">
                    <div class="enupal-input-icon">
                        <input type="checkbox" class="form-control" id="{{ recurringId }}" name="recurringToggle">

                        <label for="{{ recurringId }}">
                            {{- recurringLabel|t -}}
                        </label>
                    </div>
                </div>
            {% endif %}

        {% else %}
            {# Susbscription Pay logic #}
            {% if button.subscriptionType == 0 %}
                {# Single Plan #}
                {% if button.enableCustomPlanAmount %}
                    {% set currencySymbol = button.getCurrencySymbol() %}
                    {% set customId = 'customSingleAmount-'~button.id %}
                    {% set minimumAmount = button.customPlanDefaultAmount ? button.customPlanDefaultAmount|number_format : '' %}
                    <div class="form-group">
                        <div class="enupal-input-icon">
                            <i>{{ currencySymbol }}</i>
                            <input type="number" class="form-control" id="{{ customId }}" name="customPlanAmount" min="{{ button.customPlanMinimumAmount|number_format }}" placeholder="1" value="{{ minimumAmount }}">
                        </div>
                    </div>
                {% endif %}
            {% else %}
                {# User select Plan #}
                {% if button.enupalMultiplePlans|length %}
                    <div class="fields">
                        <section class="tab">
                            <div class="heading">
                                <label for="{{ button.selectPlanLabel }}">
                                    {{- button.selectPlanLabel|raw|t -}}
                                </label>
                            </div>
                            <div class="input">
                                {%- set input = craft.enupalStripe.displayMultiSelect(button.subscriptionStyle, button.enupalMultiplePlans)  %}
                                {{ input|raw }}
                            </div>
                        </section>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
        {# ENDS FIELD LOGIC #}
        {% endnamespace %}

        <button class="{{ button.buttonClass }}"><span>{{ button.getButtonText() }}</span></button>
    </form>
{% endspaceless %}