{% spaceless %}
    <form action="{{ button.getReturnUrl() }}" class="enupal-stripe-form" id="enupal-stripe-{{ button.id }}" method="POST">
        {{ csrfInput() }}
        {% namespace 'enupalStripe' %}
            <input type="hidden" name="token" value />
            <input type="hidden" name="email" value />
            <input type="hidden" name="buttonId" value="{{ button.id }}" />
            <input type="hidden" name="amount" value />
            <input type="hidden" name='stripeData' value="{{ button.getPublicData() }}">
            <input type="hidden" name='testMode' value=>
            {% if button.enableShippingAddress %}
                    <input type="hidden" name="address[name]" value />
                    <input type="hidden" name="address[country]" value />
                    <input type="hidden" name="address[zip]" value />
                    <input type="hidden" name="address[state]" value />
                    <input type="hidden" name="address[line1]" value />
                    <input type="hidden" name="address[city]" value />
            {% endif %}

        {% for block in button.enupalStripeBasicFields %}
            <div class="fields">
                <section class="tab">
                    <div class="heading">
                        <label for="{{ block.label }}">
                            {{- block.label|raw|t -}}
                        </label>
                    </div>
                    <div class="input">
                        {%- set input = craft.stripeButton.displayField(block)  %}
                        {{ input|raw }}
                    </div>
                </section>
            </div>
        {% endfor %}

        {% endnamespace %}
        {% include "_payButton" %}
    </form>
{% endspaceless %}