{% extends 'store/_layouts/main' %}

{% set extraHead %}
    <link rel="stylesheet" href="/store/css/global.css" />
    <link rel="stylesheet" href="/store/css/cart.min.css" />
{% endset %}

{% block main %}
    {% set number = craft.request.getQuery('number') %}
    {% set order = craft.enupalStripe.getOrderByNumber(number) %}
    {% if not order %}
        <h2> Order not found: {{ number }}</h2>
    {% else %}
        <h2>Thank you for your purchase!</h2>
        <div class="col-md-12">
            <div class="example example-live">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Order: <code>{{ order.number }}</code> </h4>

                        <b>Customer Email:</b> {{ order.email }}<br>
                        <b>Date Ordered:</b> {{ order.dateOrdered|date() }}<br>
                        <b>Quantity:</b> {{ order.quantity }}<br>
                        <b>Coupon Amount:</b> -{{ order.couponAmount|currency(order.currency) }}<br>
                        <b>Tax Amount:</b> {{ order.tax|currency(order.currency) }}<br>
                        <b>Shipping Amount:</b> {{ order.shipping|currency(order.currency) }}<br>
                        <b>Total:</b> {{ order.totalPrice|currency(order.currency) }}<br>
                        <hr>
                    </div>

                    {% if order.isCart %}
                        <div class="col-xs-12">
                            <h4>Items:</h4>
                            <hr>
                        </div>
                        {% for cartItem in order.getCartItems() %}
                            <div class="col-xs-12">
                                {% set price = cartItem.price %}
                                {% set itemDescription = cartItem.description ? cartItem.description : 'Item #'~loop.index %}
                                <b>Item:</b> {{ itemDescription }}<br>
                                Quantity: {{ cartItem.quantity }}<br>
                                {% set paymentType = price.recurring ? "Subscription" : 'One-Time' %}
                                Payment Type: {{ paymentType }}<br>
                                Sub Total: {{ craft.enupalStripe.convertFromCents(cartItem.amount_subtotal, cartItem.currency)|currency(cartItem.currency) }}<br>
                                <hr>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h3>Payment Form: {{ order.getPaymentForm().name }}</h3>
                    {% endif %}

                    {# display order metadata if any #}
                    {% if order.getFormFields() %}
                        <div class="col-xs-12">
                            <h3>Metadata:</h3>
                            {% for key, variant in order.getFormFields() %}
                                {{ key }} :
                                {% if variant is iterable %}
                                    [
                                    {% for v in variant %}
                                        {{ v }}
                                    {% endfor %}
                                    ]
                                {% else %}
                                    {#  variant  is probably a string #}
                                    {{ variant }}
                                {% endif %} {% if not loop.last %},{% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}